.left {
    border: 1;
    margin: 5px;
}

#first {}

#second {
    display: none;
}

#third {
    display: none;
}

#fourth {}

.right {
    border: 1;
    margin: 5px;
}

#fifth {}

#sixth {}

h1 {
    display: none;
}

img {
    visibility: visible;
}