 body{
  text-align: center;
  background-color: antiquewhite;
 }
 .flex{
text-align: center;
display: flex;
align-items: center;
  justify-content: center;
  
 }



 table,
 th,
 td {
   border: 1px solid black;
 }

.border{
  border: 1px solid red;
margin: 5px;
}

/* #third > p {
  visibility: hidden;
}

 #second > * {
   visibility: hidden;
 }

 #image1 {
   visibility: visible;
 }  */
